hr{
		/* border: solid 1px #e0e0e0; */
		 border: solid 1px #3498db; 
	}
	#div_body{
		height : 600px;
		width: 500px;
		text-align: center;
	}
	.in{width:250px; height:40px; text-align: center;}
	.text{font-size : 14pt;}
	table{margin:auto;
	text-align: right;
	}