	body{
		margin:0 auto;
		width : 100%;
	}
.manager{
	width:  1000px;
	height: 500px;
	color: black;
	border: 1px solid white;
	background-color: white;
	margin :0 auto;
}

.manager2{
	text-align: center;
}

th{
	color: black;
}
.abc{
	margin-left: 700px;
}

.tdtd{
	padding: 10px;
	background-color: gray;
}

.trtr{
	background-color:green;
}

.nonetd{
	display:none;
}

.textTd{
	border:1px solid black;
	width:300px;
}

.title{
	border:1px solid black;
	width:150px;
	height:30px;
	color:white;
	background-color:#3498DB;
	text-align: center;
}

.videos{
	
}

.table_css{
	color:white;
	border-spacing:0px;
}


.imageVideo{
	border : 1px solid black;
	width:150px;
	height:100px;	
}

h2{
   color : #3498DB;
}
table{
   margin:auto;
}
.photo{
   width : 400px;
   height : 300px;
}
.outerBound{
   width : 1000px;
   height : 700px;
}
.inputLine{
   width : 150px;
}
.inputLines{
   width : 500px;
   height : 200px;
}
.inputShortLine{
   width : 450px;
}
.confirmButton{
   color : white;
   background-color : #3498DB;
}
.cancelButton{
   color : white;
   background-color : #E0E0E0;
}