<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>01finalproject</display-name>
  <welcome-file-list>
    <welcome-file>HomepageServlet</welcome-file>
  </welcome-file-list>
  <description>MySQL Test App</description>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>sendMailServlet</display-name>
    <servlet-name>sendMailServlet</servlet-name>
    <servlet-class>web.mailbox.SendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendMailServlet</servlet-name>
    <url-pattern>/sendMail.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>serachSendMailServlet</display-name>
    <servlet-name>serachSendMailServlet</servlet-name>
    <servlet-class>web.mailbox.SerachSendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serachSendMailServlet</servlet-name>
    <url-pattern>/serachSendMail.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>searchReceiveMailServlet</display-name>
    <servlet-name>searchReceiveMailServlet</servlet-name>
    <servlet-class>web.mailbox.SearchReceiveMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchReceiveMailServlet</servlet-name>
    <url-pattern>/searchReceiveMail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>findInfoServlet</display-name>
    <servlet-name>findInfoServlet</servlet-name>
    <servlet-class>web.find.FindInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findInfoServlet</servlet-name>
    <url-pattern>/findInfo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteReceiveMailBoxServlet</display-name>
    <servlet-name>deleteReceiveMailBoxServlet</servlet-name>
    <servlet-class>web.mailbox.DeleteReceiveMailBoxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteReceiveMailBoxServlet</servlet-name>
    <url-pattern>/deleteReceiveMailBox.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteSendMailBoxServlet</display-name>
    <servlet-name>deleteSendMailBoxServlet</servlet-name>
    <servlet-class>web.mailbox.DeleteSendMailBoxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteSendMailBoxServlet</servlet-name>
    <url-pattern>/deleteSendMailBox.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteHistoryManageServlet</display-name>
    <servlet-name>deleteHistoryManageServlet</servlet-name>
    <servlet-class>web.delete_manage.DeleteHistoryManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteHistoryManageServlet</servlet-name>
    <url-pattern>/deleteHistoryManageServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>banWordManageServlet</display-name>
    <servlet-name>banWordManageServlet</servlet-name>
    <servlet-class>web.banWord_manage.BanWordManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>banWordManageServlet</servlet-name>
    <url-pattern>/banWordManageServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBanWordServlet</display-name>
    <servlet-name>deleteBanWordServlet</servlet-name>
    <servlet-class>web.banWord_manage.DeleteBanWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBanWordServlet</servlet-name>
    <url-pattern>/deleteBanWordServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberListManageServlet</display-name>
    <servlet-name>memberListManageServlet</servlet-name>
    <servlet-class>web.memberlist_manage.MemberListManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberListManageServlet</servlet-name>
    <url-pattern>/memberListManage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reportedContentManageServlet</display-name>
    <servlet-name>reportedContentManageServlet</servlet-name>
    <servlet-class>web.reportedContent_manage.ReportedContentManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reportedContentManageServlet</servlet-name>
    <url-pattern>/reportedContentManageServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginCheckServlet</display-name>
    <servlet-name>loginCheckServlet</servlet-name>
    <servlet-class>web.log.LoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginCheckServlet</servlet-name>
    <url-pattern>/loginCheck.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>web.log.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>web.log.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addBoardManageServlet</display-name>
    <servlet-name>addBoardManageServlet</servlet-name>
    <servlet-class>web.board_manage.AddBoardManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBoardManageServlet</servlet-name>
    <url-pattern>/addBoardManageServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBoardManageServlet</display-name>
    <servlet-name>deleteBoardManageServlet</servlet-name>
    <servlet-class>web.board_manage.DeleteBoardManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBoardManageServlet</servlet-name>
    <url-pattern>/deleteBoardManageServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editBoardManageServlet</display-name>
    <servlet-name>editBoardManageServlet</servlet-name>
    <servlet-class>web.board_manage.EditBoardManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editBoardManageServlet</servlet-name>
    <url-pattern>/editBoardManageServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>web.main.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>joinServlet</display-name>
    <servlet-name>joinServlet</servlet-name>
    <servlet-class>web.member.JoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>joinServlet</servlet-name>
    <url-pattern>/join.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkPwdServlet</display-name>
    <servlet-name>checkPwdServlet</servlet-name>
    <servlet-class>web.member.CheckPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkPwdServlet</servlet-name>
    <url-pattern>/checkPwd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editPostServlet</display-name>
    <servlet-name>editPostServlet</servlet-name>
    <servlet-class>web.post.EditPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editPostServlet</servlet-name>
    <url-pattern>/editPost.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPostListServlet</display-name>
    <servlet-name>viewPostListServlet</servlet-name>
    <servlet-class>web.post.ViewPostListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPostListServlet</servlet-name>
    <url-pattern>/viewPostList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>writePostServlet</display-name>
    <servlet-name>writePostServlet</servlet-name>
    <servlet-class>web.post.WritePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>writePostServlet</servlet-name>
    <url-pattern>/writePost.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCommentServlet</display-name>
    <servlet-name>addCommentServlet</servlet-name>
    <servlet-class>web.comment.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCommentServlet</servlet-name>
    <url-pattern>/addComment.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewCommentListServlet</display-name>
    <servlet-name>viewCommentListServlet</servlet-name>
    <servlet-class>web.comment.ViewCommentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewCommentListServlet</servlet-name>
    <url-pattern>/viewCommentList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editCommentServlet</display-name>
    <servlet-name>editCommentServlet</servlet-name>
    <servlet-class>web.comment.EditCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editCommentServlet</servlet-name>
    <url-pattern>/editComment.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCommentServlet</display-name>
    <servlet-name>deleteCommentServlet</servlet-name>
    <servlet-class>web.comment.DeleteCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCommentServlet</servlet-name>
    <url-pattern>/deleteComment.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewProfileServlet</display-name>
    <servlet-name>viewProfileServlet</servlet-name>
    <servlet-class>web.profile.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewProfileServlet</servlet-name>
    <url-pattern>/viewProfile.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editProfileServlet</display-name>
    <servlet-name>editProfileServlet</servlet-name>
    <servlet-class>web.profile.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProfileServlet</servlet-name>
    <url-pattern>/editProfile.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>blockMemberServlet</display-name>
    <servlet-name>blockMemberServlet</servlet-name>
    <servlet-class>web.block_member_manage.BlockMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blockMemberServlet</servlet-name>
    <url-pattern>/blockMember.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberGradeServlet</display-name>
    <servlet-name>memberGradeServlet</servlet-name>
    <servlet-class>web.member_grade_manage.MemberGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberGradeServlet</servlet-name>
    <url-pattern>/memberGrade.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stopMemberServlet</display-name>
    <servlet-name>stopMemberServlet</servlet-name>
    <servlet-class>web.stop_member_manage.StopMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stopMemberServlet</servlet-name>
    <url-pattern>/stopMember.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>recommendFriendServlet</display-name>
    <servlet-name>recommendFriendServlet</servlet-name>
    <servlet-class>web.recommend_friend.RecommendFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recommendFriendServlet</servlet-name>
    <url-pattern>/recommendFriend.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchProfileServlet</display-name>
    <servlet-name>searchProfileServlet</servlet-name>
    <servlet-class>web.profile.SearchProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchProfileServlet</servlet-name>
    <url-pattern>/searchProfile.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchProfileResult</display-name>
    <servlet-name>searchProfileResult</servlet-name>
    <servlet-class>web.profile.SearchProfileResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchProfileResult</servlet-name>
    <url-pattern>/searchProfileResult.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookmarkListServlet</display-name>
    <servlet-name>bookmarkListServlet</servlet-name>
    <servlet-class>web.friend.BookmarkListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookmarkListServlet</servlet-name>
    <url-pattern>/bookmarkList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>friendListServlet</display-name>
    <servlet-name>friendListServlet</servlet-name>
    <servlet-class>web.friend.FriendListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>friendListServlet</servlet-name>
    <url-pattern>/friendList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendFriendListServlet</display-name>
    <servlet-name>sendFriendListServlet</servlet-name>
    <servlet-class>web.friend.SendFriendListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendFriendListServlet</servlet-name>
    <url-pattern>/sendFriendList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>receiveFriendListServlet</display-name>
    <servlet-name>receiveFriendListServlet</servlet-name>
    <servlet-class>web.friend.ReceiveFriendListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>receiveFriendListServlet</servlet-name>
    <url-pattern>/receiveFriendList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cutoutFriendListServlet</display-name>
    <servlet-name>cutoutFriendListServlet</servlet-name>
    <servlet-class>web.friend.CutoutFriendListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cutoutFriendListServlet</servlet-name>
    <url-pattern>/cutoutFriendList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewMailServlet</display-name>
    <servlet-name>viewMailServlet</servlet-name>
    <servlet-class>web.mailbox.ViewMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewMailServlet</servlet-name>
    <url-pattern>/viewMail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editMemberInfoServlet</display-name>
    <servlet-name>editMemberInfoServlet</servlet-name>
    <servlet-class>web.member.EditMemberInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editMemberInfoServlet</servlet-name>
    <url-pattern>/editMemberInfo.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewMyProfileServlet</display-name>
    <servlet-name>viewMyProfileServlet</servlet-name>
    <servlet-class>web.profile.ViewMyProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewMyProfileServlet</servlet-name>
    <url-pattern>/viewMyProfile.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>linkSendMailServlet</display-name>
    <servlet-name>linkSendMailServlet</servlet-name>
    <servlet-class>web.mailbox.LinkSendMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>linkSendMailServlet</servlet-name>
    <url-pattern>/linkSendMail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>linkFindIdServlet</display-name>
    <servlet-name>linkFindIdServlet</servlet-name>
    <servlet-class>web.member.LinkFindIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>linkFindIdServlet</servlet-name>
    <url-pattern>/linkFindId.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>linkJoinServlet</display-name>
    <servlet-name>linkJoinServlet</servlet-name>
    <servlet-class>web.member.LinkJoinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>linkJoinServlet</servlet-name>
    <url-pattern>/linkJoin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>linkFindPwdServlet</display-name>
    <servlet-name>linkFindPwdServlet</servlet-name>
    <servlet-class>web.member.LinkFindPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>linkFindPwdServlet</servlet-name>
    <url-pattern>/linkFindPwd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConTestServ</display-name>
    <servlet-name>ConTestServ</servlet-name>
    <servlet-class>connection.ConTestServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConTestServ</servlet-name>
    <url-pattern>/ConTestServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchPostServlet</display-name>
    <servlet-name>searchPostServlet</servlet-name>
    <servlet-class>web.post.SearchPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchPostServlet</servlet-name>
    <url-pattern>/searchPost.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>postServlet</display-name>
    <servlet-name>postServlet</servlet-name>
    <servlet-class>web.post.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>postServlet</servlet-name>
    <url-pattern>/postServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardConServlet</display-name>
    <servlet-name>boardConServlet</servlet-name>
    <servlet-class>web.board_manage.BoardConServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardConServlet</servlet-name>
    <url-pattern>/boardCon.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>memberConDAOTestServ</display-name>
    <servlet-name>memberConDAOTestServ</servlet-name>
    <servlet-class>web.member.MemberConDAOTestServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>memberConDAOTestServ</servlet-name>
    <url-pattern>/memberConDAOTest.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRelationServlet</display-name>
    <servlet-name>UpdateRelationServlet</servlet-name>
    <servlet-class>web.friend.UpdateRelationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRelationServlet</servlet-name>
    <url-pattern>/UpdateRelation.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileEditServlet</display-name>
    <servlet-name>ProfileEditServlet</servlet-name>
    <servlet-class>web.profile.ProfileEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileEditServlet</servlet-name>
    <url-pattern>/ProfileEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileListServlet</display-name>
    <servlet-name>ProfileListServlet</servlet-name>
    <servlet-class>web.profile.ProfileListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileListServlet</servlet-name>
    <url-pattern>/ProfileListServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>ViewMailListServlet</display-name>
    <servlet-name>ViewMailListServlet</servlet-name>
    <servlet-class>web.mailbox.ViewMailListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMailListServlet</servlet-name>
    <url-pattern>/ViewMailList.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMailServlet</display-name>
    <servlet-name>DeleteMailServlet</servlet-name>
    <servlet-class>web.mailbox.DeleteMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMailServlet</servlet-name>
    <url-pattern>/DeleteMail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMailServlet</display-name>
    <servlet-name>SearchMailServlet</servlet-name>
    <servlet-class>web.mailbox.SearchMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMailServlet</servlet-name>
    <url-pattern>/SearchMail.do</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>wrtieRequestServlet</display-name>
    <servlet-name>wrtieRequestServlet</servlet-name>
    <servlet-class>web.post.WrtieRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wrtieRequestServlet</servlet-name>
    <url-pattern>/wrtieRequest.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPostServlet</display-name>
    <servlet-name>viewPostServlet</servlet-name>
    <servlet-class>web.post.ViewPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPostServlet</servlet-name>
    <url-pattern>/viewPost.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editRequestServlet</display-name>
    <servlet-name>editRequestServlet</servlet-name>
    <servlet-class>web.post.EditRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editRequestServlet</servlet-name>
    <url-pattern>/editRequest.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>HomepageServlet</display-name>
    <servlet-name>HomepageServlet</servlet-name>
    <servlet-class>web.main.HomepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomepageServlet</servlet-name>
    <url-pattern>/HomepageServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>adminDeletePostServlet</display-name>
    <servlet-name>adminDeletePostServlet</servlet-name>
    <servlet-class>web.post.AdminDeletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminDeletePostServlet</servlet-name>
    <url-pattern>/adminDeletePost.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePostServlet</display-name>
    <servlet-name>deletePostServlet</servlet-name>
    <servlet-class>web.post.DeletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePostServlet</servlet-name>
    <url-pattern>/deletePost.do</url-pattern>
  </servlet-mapping>
</web-app>