.login{
	width:507.250px;
	z-index:1000; 
	right : 50px; top: 50px;
	position:absolute;
	float : right;
	/* background: red; */
	/* border : 1px solid black; */
}
.login-box{
	height : 80px;
	margin : 0px;
}
.link-box{
	padding-top : 5px;
}
a.link{ 
	padding-left : 10px;
	color : white;
	text-decoration: none;
	float:right;
}
a.link-login{ 
	color : white;
	text-decoration: none;
}
a.link2-login{
	color : white;
	text-decoration: none;
	float : right;
}
.input-size{
	height : 35px;
}
.login-btn{
	width : 150px;
	height : 35px;
}
.login-user{
	text-align:right;
	color : white;
	font-size : 150%;
}
.login-name{
	fonty
}
.mem-btn{
	text-align:right;
	color : white;
}